<div class="row g-0 bg-body-secondary position-relative">
    <div class="col-md-4 mb-md-0 p-md-4">
        <img src="https://img.freepik.com/foto-gratis/chico-guapo-seguro-posando-contra-pared-blanca_176420-32936.jpg?size=626&ext=jpg&ga=GA1.1.1066440767.1687382072&semt=sph"
            class="w-100">
    </div>
    <div class="col-md-6 p-4 ps-md-0">
        <h3 class="mt-0 text-center">{{usuario.nombre}} {{usuario.apellidos}}</h3>


        <p> <i class="fa-regular fa-envelope"></i> {{usuario.email}}
        </p>
        <p><i class="fa-solid fa-phone"></i> {{usuario.telefono}}</p>
        <p><i class="fa-regular fa-calendar"></i> Fecha de alta: {{usuario.fecha_alta | date: "dd-MM-YYYY"}}</p>
        <p><i class="fa-solid fa-pen-nib"></i> Departamento: {{usuario.departamento}}</p>
    </div>
</div>