.horas {
    display: flex;
}

.horas input {
    width: 50%;
    margin-right: 5%;
}

.horas button {
    width: 45%;
}

.enviar {
    margin-top: 10px;
}

h4,
h2 {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 20px;
}