<div class="container">
    <hr>
    <h4>Registro de Horas</h4>
    <hr>
    <form class="row" [formGroup]="registroForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-2 col-12">
            <label class="form-label">Seleccionar Proyecto:</label>
            <select value="select" class="form-control" formControlName="proyectos_id"
                placeholder="selecciona un proyecto">
                <label class="form-label">Fecha:</label>
                <option value="select" disabled selected>Selecciona un proyecto</option>
                <option *ngFor="let proyecto of proyectos" [value]="proyecto.id">{{ proyecto.nombre }}
                </option>
            </select>
        </div>
        <div class="form-group mb-2 col-12 horas">
            <input type="time" class="form-control mb-2" formControlName="hora_entrada">
            <button type="button" (click)="obtenerHoraEntrada()" class="btn btn-info">Hora entrada</button>
        </div>
        <div class="form-group mb-2 col-12 horas">
            <input type="time" class="form-control mb-2" formControlName="hora_salida">
            <button type="button" (click)="obtenerHoraSalida()" class="btn btn-info">Hora Salida</button>
        </div>
        <div class="form-group mb-2 col-12">
            <input type="date" class="form-control" formControlName="fecha">
        </div>

        <button type="submit" class="btn btn-info enviar" [disabled]=" !registroForm.valid">Registrar Horas</button>
    </form>
</div>

<div>
    <div>
        <label for="start-date">Fecha de inicio:</label>
        <input type="date" id="start-date" [(ngModel)]="fecha_inicio" />

        <label for="end-date">Fecha de fin:</label>
        <input type="date" id="end-date" [(ngModel)]="fecha_fin" />
    </div>

    <div>
        <p>Horas Totales: {{horasTotalesSemana}}</p>
        <p>Inicio: {{ fecha_inicio | date }}</p>
        <p>Fin: {{ fecha_fin | date }}</p>
    </div>
</div>