<div class="container">

    <h2>Lista proyectos</h2>

    <div class="proyectos" *ngFor="let proyecto of proyectos">
        <hr>
        <h3>{{proyecto.nombre}}</h3>
        <hr>
        <p>{{proyecto.descripcion}}</p>
        <td>
            <button class="btn btn-info" [routerLink]="['/proyectos', 'editar', proyecto.id]">Editar</button>
        </td>
        <td>
            <button class="btn btn-danger ms-2" (click)="deleteProyect(proyecto.id)">Borrar</button>
        </td>

    </div>
</div>