<hr>

<div>
    <h2>Control de horas:{{mes}}</h2>
</div>

<hr>

<select (change)="cambioMes($event)" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
    <option selected>Selecciona un mes</option>
    <option value="1">Enero</option>
    <option value="2">Febrero</option>
    <option value="3">Marzo</option>
    <option value="4">Abril</option>
    <option value="5">Mayo</option>
    <option value="6">Junio</option>
    <option value="7">Julio</option>
    <option value="8">Agosto</option>
    <option value="9">Septiembre</option>
    <option value="10">Octubre</option>
    <option value="11">Noviembre</option>
    <option value="12">Diciembre</option>

</select>
<select (click)="cambioProyecto($event)" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
    <option selected>selecciona un proyecto</option>
    <option [value]=idProyecto *ngFor="let nombreProyecto of nombresProyectos let idProyecto of idProyectos">
        {{nombreProyecto}}</option>

</select>


<div>
    <div>
        <div style="display: block">
            <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="barChartType">
            </canvas>
        </div>
        <button class="btn btn.primary">Update</button>
    </div>
</div>