<section>
    <div class="container">

        <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="mb-3">

            <h2>TimeHub</h2>
            <h3>Login Admin</h3>

            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="email">

                <p class="error" *ngIf="checkError('email','required')">
                    Este campo es obligatorio
                </p>
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>


                <div class="password-img">

                    <input [type]="showPassword ? 'text' : 'password'" class="form-control" formControlName="password">

                    <i class="fa-solid fa-eye-slash" (click)="showPassword = !showPassword" *ngIf="!showPassword"></i>
                    <i class="fa-solid fa-eye" (click)="showPassword = !showPassword" *ngIf="showPassword"></i>
                </div>


                <p class="error" *ngIf="checkError('password','required')">
                    Este campo es obligatorio
                </p>
            </div>


            <div class="row g-2">

                <div class="col-12 col-md-6">
                    <input type="submit" value="Login" class="btn btn-info w-100">
                </div>

                <div class="col-12 col-md-6">
                    <button [routerLink]="['/registro']" class="btn btn-info w-100"
                        *ngIf="!adminServicio.isLogged()">Registro</button>
                </div>

            </div>

            <p class="text-center mt-3">
                ¿Tu eres un usuario? <a [routerLink]="['/login/user']">Inicia sesión.</a>
            </p>

        </form>

        <p class="copyright text-center my-0 mx-auto">Copyright © VaneSebasLidia 2023</p>

    </div>
</section>