section {
    background: url(../../../../assets/images/fondo_login.jpg) no-repeat;
    background-size: cover;
    background-position: 25% 30%;
    height: 100vh;
    color: aliceblue;
}

section form {
    margin: 0 auto;
    width: 25vw;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
}

section h2 {
    font-family: 'VT323', monospace;
    font-size: 55px;
}

section .password-img {
    position: relative;
}

section .fa-solid {
    position: absolute;
    cursor: pointer;
    color: #171836;
    right: 3%;
    top: 35%;
}

section .copyright {
    font-family: 'VT323', monospace;
}

input.ng-valid.ng-touched {
    border: 2px solid green;
}


input.ng-invalid.ng-touched {
    border: 2px solid hotpink;
}

.error {
    color: hotpink;
}