<div class="container">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" formControlName="nombre">

            <p class="error" *ngIf="checkError('nombre','required')">
                Este campo es obligatorio
            </p>

            <p class="error" *ngIf="checkError('nombre', 'minlength')">
                El nombre debe tener como mínimo 2 caracteres
            </p>
        </div>

        <div class="mb-3">
            <label class="form-label">Apellidos</label>
            <input type="email" class="form-control" formControlName="apellidos">

            <p class="error" *ngIf="checkError('apellidos','required')">
                Este campo es obligatorio
            </p>
            <p class="error" *ngIf="checkError('apellidos', 'minlength')">
                El nombre debe tener como mínimo 4 caracteres
            </p>
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email">

            <p class="error" *ngIf="checkError('email','required')">
                Este campo es obligatorio
            </p>
            <p class="error" *ngIf="checkError('email', 'pattern')">
                El formato del correo electrónico es incorrecto.
            </p>
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password">

            <p class="error" *ngIf="checkError('password','required')">
                Este campo es obligatorio
            </p>
            <p class="error" *ngIf="checkError('password','pattern')">
                La password mínima es de 8 caracteres y debe contener: mayusculas, minusculas y numeros
            </p>
        </div>

        <input type="submit" value="Registro" class="btn btn-info" [disabled]="!formulario.valid">
    </form>
</div>