/* You can add global styles to this file, and also import other style files */

body {
    background: url(./assets/images/fondo-darkmode22.png) no-repeat;
    background-size: cover;
    color: black;
}

.dark-mode {
    background: url(./assets/images/fondo-darkmode1.jpeg) no-repeat;
    background-size: cover;
    color: antiquewhite;
}