<nav>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a [routerLink]="['']" *ngIf="adminServicio.isLogged()" href=""
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap" />
        </svg>
        <span class="fs-4">TimeHube</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a [routerLink]="['/usuarios']" *ngIf="adminServicio.isLogged()" href="#"
            class="nav-link active" aria-current="page">Lista usuarios</a></li>
        <li class="nav-item"><a [routerLink]="['/usuarios', 'nuevo']" *ngIf="adminServicio.isLogged()" href="#"
            class="nav-link">Añadir usuario</a></li>
        <li class="nav-item"><a [routerLink]="['/registro']" *ngIf="!adminServicio.isLogged()" href="#"
            class="nav-link">Registro</a></li>
        <li class="nav-item"><a [routerLink]="['/login']" *ngIf="!adminServicio.isLogged()" href="#"
            class="nav-link">Login</a></li>
        <li class="nav-item"><a *ngIf="adminServicio.isLogged()" (click)="onClickLogout()" href="#"
            class="nav-link">Logout</a></li>
      </ul>
    </header>
  </div>


</nav>